<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Id</th>
      <th>Slot name</th>
      <th>Description</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Min amount</th>
      <th>Bid start</th>
      <th>Bid end</th>
      <th>Winner bid</th>
      <th>Status</th>
      <th>Expiry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @slots.each do |slot| %>
      <tr>
        <td></td>
        <td><%= slot.id %></td>
        <td><%= slot.slot_name %></td>
        <td><%= slot.description %></td>
        <td><%= slot.start_time.strftime('%l: %M %p') %></td>
        <td><%= slot.end_time.strftime('%l: %M %p') %></td>
        <td><%= slot.min_amount %></td>
        <td><%= slot.bid_start.strftime('%d/%m/%Y') %></td>
        <td><%= slot.bid_end.strftime('%d/%m/%Y') %></td>
        <td><% if slot.winner_bid.present? %>
           <%= slot.bids.last.try(:amount) %> <span class="small"> by <%= slot.bids.last.try(:user).try(:full_name) %> </span>
           <% end %>
         </td>
        <td><%= slot.status_text %></td>
        <td><%= slot.expiry.present? ? slot.expiry.strftime('%d/%m/%Y') : "" %></td>
        <td>
          <% if slot.status_text == "Available" %>
            <%= link_to 'Edit', edit_slot_path(slot) %>
          <% end %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Slot', new_slot_path %>
