<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname, id: :user_firstname %>
  </div>

  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname, id: :user_lastname %>
  </div>

  <div class="field">
    <%= f.label :organization %><br />
    <%= f.text_field :organization, id: :user_organization %>
  </div>
<br />
  <div class="field">
    <%= f.label "Register as" %><br />
    <select class="form-control" name="user[utype]">  
      <option value="provider">Ad Space Provider</option>
      <option value="organization">Organization</option>
    </select>
  </div>
<br />
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
